pokemon-showdown-client/ @isleep2late
pokemon-showdown/config @iforgetwhyimhere
pokemon-showdown/server @iforgetwhyimhere
pokemon-showdown/data/text @iforgetwhyimhere
pokemon-showdown/mods/gen1 @Sunny-Krys
pokemon-showdown/mods/gen1doubles @Sunny-Krys
pokemon-showdown/mods/gen1jpn @Sunny-Krys
pokemon-showdown/mods/gen1phnn @Sunny-Krys @isleep2late
pokemon-showdown/mods/gen1phnneng @Sunny-Krys @isleep2late
pokemon-showdown/mods/gen1stadium @Sunny-Krys
pokemon-showdown/mods/spaceworld @Sunny-Krys
pokemon-showdown/mods/phnn @isleep2late
pokemon-showdown/mods/infinite @isleep2late
pokemon-showdown/mods/gen9customdisguises @isleep2late
pokemon-showdown/mods/gen2doubles @isleep2late
pokemon-showdown/mods/gen5phnn @isleep2late